node_modules/
dist/
build/
.env
.env.local
.env.test
.vscode
*.log
.DS_Store

apps/api/prisma/dev.db
apps/api/generated/

.vite/
coverage/
coverage-report/
test-report.json

apps/optimizer/.venv/
apps/optimizer/__pycache__/
apps/optimizer/**/__pycache__/

apps/predictor/.venv/
apps/predictor/__pycache__/
apps/predictor/**/__pycache__/

apps/ingestion/.venv/
apps/ingestion/__pycache__/
apps/ingestion/**/__pycache__/
